/* no */
body,ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html, body{
  /* font-size: 20px; */
  background-color: #fff;
  min-width: 1440px;
  box-sizing: border-box;
   /* font-family: 맑은고딕; */
  color: #333;
}

a{
  display: block;
  text-decoration: none;
}

img{
  display:block;
  width:100%;
}

/* li */

.con{
  width: 1400px;
  margin: 0 auto;
}

.name{
  font-weight: bold;
  font-size: 50px;
	margin-top: 20px;
}
/* 브라우저의 기본 폰트 크기는 16px */
/* cu */

header{
	width: 1440px;
  height: 1760px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.header__title{
	width: 600px;
	height: 196px;
	position: absolute;
	top: 121px;
	right: 70px;
	z-index: 5;
}
.header__logo{
	width: 161px;
	height: 158px;
	position: absolute;
	top: 1527px;
	left: 70px;
	z-index: 5;
}
.banner>div{
	position: absolute;
	top: 0;
	left: 0;
}
.header__text{
	width: 1295px;
	height: 1468px;
	position: absolute;
	top: 148px;
	left: 73px;
	z-index: 4;
}
.header__bg{
	width: 882px;
	height: 886px;
	position: absolute;
	top: 824px;
	left: 906px;
	z-index: 2;
}

/* main */
.main{
	position: relative;
	width: 1440px;
	height: 4265px;
	margin: 0 auto;
}
.con{
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.main>.con>div{
  padding: 0 20px;
  margin-top: 150px;
}
/* profil */
.profil{
  height: 984px;
	position: relative;
	z-index: 2;
}
.content{
  margin-top: 80px;
  display: flex;
  width: 1400px;
  justify-content: space-between;
  height: 752px;
}
.content__profil{
  /* display: flex;
  flex-direction: column; */
  width: 320px;
  height: 100%;
}
.content__profil__img{
  width: 320px;
  height: 366px;
  border-radius: 10px;
  overflow: hidden;
}

.content__profil__text{
  width: 100%;
  margin-top: 58px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content__profil__text>section:nth-child(1){
  font-size: 15px;
  width: 100%; 
	height: 53px;
  text-align: end;
	position: relative;
	margin-bottom: 12px;
}
.content__profil__text>section:nth-child(1)::after{
  content: "";
	border-bottom: 2px solid #333;
  width: 250px;
	position: absolute;
	bottom: 0;
	right: 0;
}


.content__profil__text>section:nth-child(1)>span{
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
}

.content__profil__text>section:nth-child(2){
  font-size: 30px;
  color: #B3D672;
  font-weight: bold;
  text-align: center;
  width: 100%; 
  height: 63px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.profil__img2{
  margin-right: 20px;
  width: 48px;
  height: 100%;
}

.content__profil__text>section:nth-child(3){
  font-size: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start; 
}
.content__profil__text>section:nth-child(3)>span{
  margin-top: 15px;
}

.content__profil__text>section:nth-child(3)::before{
  content: "";
  border-top: 2px solid #333;
  width: 250px;
  margin-top: 10px;
	margin-bottom: 12px;
}

.history{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
}

.history>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history>div:nth-child(1){
  width: 560px;
  height: 100%;

}
.history>div:nth-child(2){
  width: 380px;
  height: 100%;
}



.history>div>section{
  display: flex;
  flex-direction: column;
}
.history__title{
  font-size: 30px;
  font-weight: 500;
}
/* .history__title::after{
  content: "";
  width: 327px;
  border-bottom: 2px solid red;
  margin-top: 30px;
  margin-bottom: -10px;
} */
.history__text{
  font-size: 20px;
}

.history__text>section{
  margin-top: 40px;
  display: flex;
}
.history__text>section>span{
  margin-right: 25px;
}
.history__text__box{
  display: flex;
  flex-direction: column;
}
.history__text__box__span{
  font-size: 15px;
  color: #ACACAC;
  margin-top: 5px;
}
.history__text__box>span:nth-child(2){
  margin-top: 40px;
}

.profi__img{
	width: 891px;
	height: 919px;
	position: absolute;
	top: 431px;
	left: 747px;
	z-index: -1;
}


/* portfolio */
/* .portfolio{
  height: ;
} */
/* webportfolio */
.webportfolio{
  height: 880px;
  background-color: #EEF6E3;
}

/* .webportfolio__list{
  height: 530px;
  margin-top: 40px;
} */

body .swiper {
	width: 1400px;
	height: 660px;
	position: relative;
}
body .swiper-wrapper{
	height:530px;
	margin-top:100px;
}
.swiper-slide {
	width:335px;
	height:100%;
	border-radius:10px;
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

body .swiper-button-prev{
	position:absolute;
	top:50px;
	left:1300px;
	font-size:30px;
	color: #333333;
	height:30px;
}
body .swiper-button-next{
	position:absolute;
	top:50px;
	right:10px;
	font-size:30px;
	color: #333333;
	height:30px;
}
.swiper-button-prev::after
,.swiper-button-next::after{
	content:"";
	font-size:0;
	display:none;
}

/* 내용 */

.webportfolio_title{
	font-size:22px;
	position:absolute;
	top:28px;
	left:32px;
}
.webportfolio_title>span{
	font-weight:bold;
	font-size:55px;
	height:80px;
}

.webportfolio_title_1{
	font-size:12px;
	text-align:start;
	position:absolute;
	top:118px;
	left:32px;
	color:white;
	display:none;
}
.webportfolio_title_1>div{
	font-size:30px;
	font-weight:bold;
	margin-bottom:8px;
}

.webportfolio_title_1 li> .fa-solid {
	font-size: 3px;
	margin-left:10px;
	
}
.webportfolio_content__img-m{
		width:160px;
	height:135px;
position:absolute;
	bottom:95px;
}
.webportfolio_content__img-p{
	width:76px;
	height:135px;
position:absolute;
	bottom:95px;
}

.content__img{
	display:none;
}
.webportfolio .swiper-slide>img{
  z-index: -1;
}
.webportfolio .swiper-slide:hover{
	background-color:rgba(0,0,0,.5);
}
.swiper-slide:hover>.webportfolio_title{
	color:white;
}
.swiper-slide:hover>.webportfolio_title_1{
	display:block;
}
.swiper-slide:hover>.content__img{
	display:block;
}

.webportfolio_content{
	display:flex;
	width:270px;
	height:38px;
	justify-content:space-between;
		position:absolute;
	bottom:40px;
}
.webportfolio_content>section{
	width:125px;
	height:100%;
	background-color:#E4FCB9;
	border-radius:5px;
	font-size:15px;
	line-height:38px;
}

.webportfolio_content>section:hover{
	color:#E4FCB9;
	background-color:#85B42B;
	font-weight:bold;
}

.one-content{
	justify-content:center;
}



/* portfolio1,2 */
.portfolio-1{
  height: 892px;
}
.portfolio{
	z-index: 2;
}

.portfolio__list>.swiper {
	width: 1400px;
	height: 760px;
	position: relative;
	overflow: hidden;
}
.portfolio__list .slide_list {
	height: 600px;
	width:100%;
	margin-top: 65px;
	display: flex;
	align-items: center;
	justify-content:space-between;
}

.portfolio__list .swiper-slide {
/* 	background-position: center;
	background-size: cover; */
	width: 300px;
	height: 500px;
	border-radius: 10px;
}

.portfolio__list .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  z-index: -5;
  border-radius:10px;
}

.portfolio__list .swiper-button-prev {
	position: absolute;
	top: 50px;
	left: 1295px;
	font-size: 30px;
	color: #333333;
	height: 30px;
}
.portfolio__list .swiper-button-next {
	position: absolute;
	top: 50px;
	right: 10px;
	font-size: 30px;
	color: #333333;
	height: 30px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	content: "";
	font-size: 0;
	display: none;
}
/* 커스텀 */

.portfolio_title{
	width:100%;
	height:80px;
	background-color:rgba(255,255,255,.5);
	z-index:1;
	border-radius:10px 10px 0 0;
	position:absolute;
  top: 0;
	display:none;
}
.portfolio_title>section{
	font-size:30px;
	font-weight:bold;
	position:absolute;
	bottom:7.5px;
	left:10px;
	display:flex;
}
.portfolio_title>section>span{
	font-size:45px;
		margin-right:5px;
}
.portfolio_title>section>section{
	margin-top:16px;
}

.portfolio_title>section>div{
	font-size:30px;
	display:flex;
	flex-direction:column;
	justify-content:end;
  align-items: start;
}
.portfolio_title>section>div>span{
	font-size:13px;
	font-weight:normal;
	margin-top:-5px;
}



.portfolio_title>span{
	font-size:12px;
	position:absolute;
	right:10px;
	bottom:10px;
}

.portfolio_title .px{
	font-size:20px;
	justify-content:center;
  align-items: start;
}
.portfolio_title .px>span{
		font-size:12px;
		margin-top:-3px;
}

/* portfolio_title_1 */
.portfolio_title_1{
	color:white;
}
.portfolio_title_1>section{
	position:absolute;
	top:47px;
	left:15px;
	display:flex;
	height:72px;
	font-weight:bold;
	align-items:center;
	z-index:5;
}
.portfolio_title_1>section>span{
	font-size:50px;
	margin-right:10px;
}
.portfolio_title_1>section>section{
		font-size:30px;
}
.portfolio_title_1>section>div{
	font-size:20px;
	display:flex;
	flex-direction:column;
	justify-content:center;
  align-items: start;
}
.portfolio_title_1>section>div>span{
	font-size:13px;
	font-weight:normal;
}
.portfolio_title_1>span{
	position:absolute;
	font-size:15px;
	bottom:15px;
	right:15px;
	z-index:5;
}
.portfolio_title_1__text{
	position:absolute;
	font-size:20px;
	width:380px;
	top:167px;
	left:15px;
	z-index:5;
}


/* 특수효과 */

.slide_list > div.swiper-slide-active,
.slide_list > div.swiper-slide-duplicate-active {
	transition: 0.5s;
	transform: scale(1.2);
	z-index: 5;
	/* background-color:gold; */
}

.slide_list > div.swiper-slide-active>.portfolio_title,
.slide_list > div.swiper-slide-duplicate-active>.portfolio_title {
	display:block;
}
.slide_list > div.swiper-slide-active>.portfolio_title_1,
.slide_list > div.swiper-slide-duplicate-active>.portfolio_title_1 {
	display:none;
}

.slide_list > div.swiper-slide-next>.portfolio_img:after,
.slide_list > div.swiper-slide-prev>.portfolio_img:after,
.slide_list > div.swiper-slide-duplicate-next>.portfolio_img:after,
.slide_list > div.swiper-slide-duplicate-prev>.portfolio_img:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.3s;
	opacity: 1;
	z-index:1;
	border-radius: 10px;
}

/* portfolio-2 */

.portfolio-2 .portfolio_title>section>section{
	font-size: 25px;
}
.portfolio-2 .portfolio_title>span{
	font-size: 12px;
	position:absolute;
	right:10px;
	bottom:5px;
}
.portfolio-2 .portfolio_title_1>section>section{
	font-size: 25px;
}
.portfolio-2 .portfolio_title_1>span:last-child{
	font-size: 15px;
}
.portfolio-2 .px-1{
	font-size: 20px;
display: flex;
justify-content: center;
}
.portfolio-2 .px-2{
	font-size: 25px;
}
.portfolio-2 .px-3{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

/* bg__img */
.bg__img{
	width: 1440px;
	height: 2251px;
	position: absolute;
	bottom: 0;
	left: 0;
}


/* footer */
footer{
	width: 1440px;
  height: 200px;
	margin: 0 auto;
  background-color: skyblue;
}